@tailwind base;
@tailwind components;
@tailwind utilities;

input {
  @apply w-[400px] border border-gray-200 py-2 px-6 bg-zinc-100/40;
}

/* globals.css */
.bg-dashboard {
  background-image: url('/bg.png');
  background-size: cover;
  background-position: center;
}

